<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tunisia Drinks</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/favicon/favicon.png') }}" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800&display=swap" rel="stylesheet" />
    <!-- All CSS Flies   -->
    <!--===== Vendor CSS (Bootstrap & Icon Font) =====-->
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/ionicons.min.css') }}" />
    <!--===== Plugins CSS (All Plugins Files) =====-->
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/meanmenu.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/nice-select.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/owl-carousel.css')}}" />
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/slick.css') }}" />
    <!--===== Main Css Files =====-->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
    <!-- ===== Responsive Css Files ===== -->
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}" />

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->

    <!-- <link rel="stylesheet" href="assets/css/vendor/plugins.min.css">
        <link rel="stylesheet" href="assets/css/style.min.css">
        <link rel="stylesheet" href="assets/css/responsive.min.css"> -->
</head>

<body>
<!-- main layout start from here -->
<!--====== PRELOADER PART START ======-->

<!-- <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div> -->

<!--====== PRELOADER PART ENDS ======-->
<div id="main">
    <!-- Header Start -->
    <header class="main-header">
        <!-- Header Top Start -->
        <!-- Header Top End -->
        <!-- Header Buttom Start -->
        <div class="header-navigation sticky-nav">
            <div class="container-fluid">
                <div class="row">
                    <!-- Logo Start -->
                    <div class="col-md-2 col-sm-2">
                        <div class="logo">
                            <a href=""><img src="{{ asset('assets/images/logo/logo.jpg') }}" alt="logo.jpg" /></a>
                        </div>
                    </div>
                    <!-- Logo End -->
                    <!-- Navigation Start -->
                    <div class="col-md-10 col-sm-10">
                        <!--Main Navigation Start -->
                        <div class="main-navigation d-none d-lg-block">
                            <ul>
                                <li class="menu-dropdown">
                                    <a href="#">Accueil</a>

                                </li>
                                <li class="menu-dropdown">
                                    <a href="#">Boutique <i class="ion-ios-arrow-down"></i></a>
                                    <ul class="sub-menu">
                                        <li class="menu-dropdown position-static">
                                            <a href="#">Catégories <i class="ion-ios-arrow-down"></i></a>

                                        </li>
                                        <li class="menu-dropdown position-static">
                                            <a href="#">Marques <i class="ion-ios-arrow-down"></i></a>
                                            <ul class="sub-menu">
                                                <li class="menu-dropdown">
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-dropdown position-static">
                                            <a href="#">Blog Single <i class="ion-ios-arrow-down"></i></a>

                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-dropdown">
                                    <a href="#">Formules de paiement</a>

                                </li>
                                <li><a href="">Contactez nous</a></li>
                            </ul>
                        </div>
                        <!--Main Navigation End -->
                        <!--Header Bottom Account Start -->
                        <div class="header_account_area">
                            <!--Seach Area Start -->
                            <div class="header_account_list search_list">
                                <a href="javascript:void(0)"><i class="ion-ios-search-strong"></i></a>
                                <div class="dropdown_search">

                                </div>
                            </div>
                            <!--Seach Area End -->
                            <!--Contact info Start -->

                            <!--Contact info End -->
                            <!--Cart info Start -->
                            <div class="cart-info d-flex">
                                <div class="mini-cart-warp" id="pr">

                                    <div class="mini-cart-content">
                                        <ul id="pan">

                                        </ul>
                                        <div id="price">

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--Cart info End -->
                        </div>
                    </div>
                </div>
                <!-- mobile menu -->
                <div class="mobile-menu-area">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li>
                                    <a href="">HOME</a>
                                    <ul>
                                        <li>
                                            <a href="#">Home Organic</a>

                                        </li>
                                        <li>
                                            <a href="#">Home Cosmetic</a>

                                        </li>
                                        <li>
                                            <a href="#">Home Digital</a>

                                        </li>
                                        <li>
                                            <a href="#">Home Furniture</a>

                                        </li>
                                        <li>
                                            <a href="#">Home Medical</a>

                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Shop</a>
                                    <ul>
                                        <li>
                                            <a href="#">Shop Grid</a>

                                        </li>
                                        <li>
                                            <a href="#">Shop List</a>

                                        </li>
                                        <li>
                                            <a href="#">Single Shop</a>

                                        </li>
                                        <li>
                                            <a href="#">Single Shop</a>

                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pages</a>

                                </li>
                                <li>
                                    <a href="#">Blog</a>

                                </li>
                                <li><a href="">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- mobile menu end-->
            </div>
        </div>
        <!--Header Bottom Account End -->
    </header>

</div>
{% block section %}
{% endblock %}
<!-- Modal -->
<footer class="footer-area">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <!-- footer single wedget -->
                <div class="col-md-6 col-lg-4">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="#"><img src="{{ asset('assets/images/logo/footer-logo.png') }}" alt="" /></a>
                    </div>
                    <!-- footer logo -->
                    <div class="about-footer">
                        <p class="text-info">We are a team of designers and developers that create high quality HTML template</p>
                        <div class="need-help">
                            <p class="phone-info">
                                NEED HELP?
                                <span>
                                                (+800) 345 678 <br />
                                                (+800) 123 456
                                            </span>
                            </p>
                        </div>
                        <div class="social-info">
                            <ul>
                                <li>
                                    <a href="#"><i class="ion-social-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-social-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-social-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-social-google"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-social-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer single wedget -->
                <div class="col-md-6 col-lg-2 mt-res-sx-30px mt-res-md-30px">
                    <div class="single-wedge">
                        <h4 class="footer-herading">Information</h4>
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">Delivery</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Secure Payment</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="#">Stores</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer single wedget -->
                <div class="col-md-6 col-lg-2 mt-res-md-50px mt-res-sx-30px mt-res-md-30px">
                    <div class="single-wedge">
                        <h4 class="footer-herading">Custom Links</h4>
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">Legal Notice</a></li>
                                <li><a href="#">Prices Drop</a></li>
                                <li><a href="#">New Products</a></li>
                                <li><a href="#">Best Sales</a></li>
                                <li><a href="#">Login</a></li>
                                <li><a href="#">My Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer single wedget -->
                <div class="col-md-6 col-lg-4 mt-res-md-50px mt-res-sx-30px mt-res-md-30px">
                    <div class="single-wedge">
                        <h4 class="footer-herading">Newsletter</h4>
                        <div class="subscrib-text">
                            <p>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.</p>
                        </div>

                        <div class="img_app">
                            <a href="#"><img src="{{ asset('assets/images/icons/app_store.png') }}" alt="" /></a>
                            <a href="#"><img src="{{ asset('assets/images/icons/google_play.png') }}" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- footer single wedget -->
            </div>
        </div>
    </div>
    <!--  Footer Bottom Area start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <p class="copy-text">Copyright © <a href="https://hasthemes.com/"> HasThemes</a>. All Rights Reserved</p>
                </div>
                <div class="col-md-6 col-lg-8">
                    <img class="payment-img" src="{{ asset('assets/images/icons/payment.png') }}" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!--  Footer Bottom Area End-->
</footer>

<!-- Modal end -->

<!-- Scripts to be loaded  -->
<!-- JS
============================================ -->

<!--====== Vendors js ======-->

<script src="{{ asset('assets/js/vendor/jquery-3.5.1.min.js') }}"></script>
<script src="{{ asset('assets/js/vendor/modernizr-3.7.1.min.js') }}"></script>

<!--====== Plugins js ======-->
<script src="{{ asset('assets/js/plugins/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/plugins/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/plugins/meanmenu.js') }}"></script>
<script src="{{ asset('assets/js/plugins/owl-carousel.js') }}"></script>
<script src="{{ asset('assets/js/plugins/jquery.nice-select.js') }}"></script>
<script src="{{ asset('assets/js/plugins/countdown.js') }}"></script>
<script src="{{ asset('assets/js/plugins/elevateZoom.js') }}"></script>
<script src="{{ asset('assets/js/plugins/jquery-ui.min.js') }}"></script>
<script src="{{ asset('assets/js/plugins/slick.js') }}"></script>
<script src="{{ asset('assets/js/plugins/scrollup.js') }}"></script>
<script src="{{ asset('assets/js/plugins/range-script.js') }}"></script>

<!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->

<!-- <script src="assets/js/plugins.min.js"></script> -->

<!-- Main Activation JS -->
<script src="{{ asset('assets/js/main.js') }}"></script>














<script>
    var panier = localStorage.getItem("panier");
    var prixTotal = 0 ;
    var livraison = 0;
    var total = 0;
    if(panier){
        var obj = jQuery.parseJSON(panier);
        for(i=0; i< obj.length ; i++){
            prixTotal = prixTotal + parseInt(obj[i].prix)
            $('#pan').append('<li class="single-shopping-cart">'+
                '<div class="shopping-cart-img">'+
                '<a href=""><img alt="" src="'+obj[i].image+'" /></a>'+
                '<span class="product-quantity">'+obj[i].quantite+'</span>'+
                '</div>'+
                ' <div class="shopping-cart-title">'+
                '<h4><a href="">'+obj[i].titre+'</a></h4>'+
                '<span>'+obj[i].prix+'</span>'+
                ' <div class="shopping-cart-delete">'+
                '<a href="#"><i class="ion-android-cancel"></i></a>'+
                '</div>'+
                '</div>'+
                '</li>')
        }
        if(prixTotal < 40){
            livraison = 7 ;
        }
        total  = livraison + prixTotal
        $('#price').append('<div class="shopping-cart-total">'+
        '<h4>Prix : <span>'+prixTotal+ ' TND'+'</span></h4>'+
        '<h4>Livraison : <span>'+livraison+' TND'+'</span></h4>'+
        '<h4 class="shop-total">Total : <span>'+total+' TND'+'</span></h4>'+
        '</div>'+
        '<div class="shopping-cart-btn text-center">'+
        '<a class="default-btn" href="{{ path('cart') }}" id="clickPanier">checkout</a>'+
        '</div>')
        $('#pr').append('<div id="vam"><a href="#" class="count-cart" ><span>'+total+' TND</span></a></div>')
    }
    else{
        $('#pr').append('<div id="vam"><a href="#" class="count-cart" ><span> 0.00 TND</span></a></div>')
    }

</script>









{% block js %}
{% endblock %}
</body>
</html>

