{% extends('base.html.twig') %}
{% block section %}

<!-- Breadcrumb Area End -->
<!-- Shop Category Area End -->
<div class="shop-category-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- Shop Top Area Start -->
                <div class="shop-top-bar">
                    <!-- Left Side start -->
                    <div class="shop-tab nav mb-res-sm-15">
                        <p>{{produit|length}} Produits</p>
                    </div>
                    <!-- Left Side End -->
                    <!-- Right Side Start -->

                    <!-- Right Side End -->
                </div>
                <!-- Shop Top Area End -->

                <!-- Shop Bottom Area Start -->
                <div class="shop-bottom-area mt-35">
                    <!-- Shop Tab Content Start -->
                    <div class="tab-content jump">
                        <!-- Tab One Start -->
                        <div id="shop-1" class="tab-pane active">
                            <div class="row">
                                {% for p in produit %}
                                <div class="col-xl-3 col-md-4 col-sm-6">
                                    <article class="list-product">
                                        <div class="img-block">
                                            <a href="#" class="thumbnail">
                                                <img class="first-img" src="{{asset(p.image) }}" alt="" />

                                            </a>
                                            <div class="quick-view">
                                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" id="diale{{ p.id }}" data-toggle="modal" data-target="#exampleModal">
                                                    <i class="ion-ios-search-strong"></i>
                                                </a>
                                            </div>

                                        </div>
                                        <ul class="product-flag">
                                            <li class="new">New</li>
                                        </ul>
                                        <div class="product-decs">
                                            <a class="inner-link" href="#"><span>{{ p.marque.titre }}</span></a>
                                            <h2><a href="#" class="product-link">{{ p.titre }}</a></h2>

                                            <div class="pricing-meta">
                                                <ul>
                                                    <li >{{p.prix}} tnd</li>


                                                </ul>
                                            </div>
                                        </div>
                                        <div class="add-to-link">
                                            <ul>
                                                <li class="cart"><a href="{{ path('Login') }}">Ajouter </a></li>

                                            </ul>
                                        </div>
                                    </article>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Tab One End -->
                        <!-- Tab Two Start -->

                        <!-- Tab Two End -->
                    </div>
                    <!-- Shop Tab Content End -->
                    <!--  Pagination Area Start -->

                    <!--  Pagination Area End -->
                </div>
                <!-- Shop Bottom Area End -->
            </div>
        </div>
    </div>
</div>

    {% block js %}
        {% for produit in produit %}
            <div class="modal fade" id="exampleModal{{ produit.id }}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document" id="exampleModale{{ produit.id }}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-5 col-sm-12 col-xs-12">
                                    <div class="tab-content quickview-big-img">
                                        <div id="pro-1" class="tab-pane fade show active">
                                            <img src="{{ asset(produit.image) }}" alt="" />
                                        </div>
                                    </div>
                                    <!-- Thumbnail Large Image End -->
                                    <!-- Thumbnail Image End -->

                                </div>
                                <div class="col-md-7 col-sm-12 col-xs-12">
                                    <div class="product-details-content quickview-content">
                                        <h2>{{ produit.titre }}</h2>
                                        <p class="reference">Marque:<span> {{ produit.marque.titre }}</span></p>
                                        <p class="reference">Catégorie:<span> {{ produit.categorie.titre }}</span></p>
                                        <div class="pro-details-rating-wrap">
                                            <div class="rating-product">
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                                <i class="ion-android-star"></i>
                                            </div>
                                            <span class="read-review"><a class="reviews" href="#">Read reviews (1)</a></span>
                                        </div>
                                        <div class="pricing-meta">
                                            <ul id="price{{ produit.id }}">
                                            </ul>
                                        </div>
                                        <p>{{ produit.description }}</p>
                                    </div>
                                    <div class="pro-details-quality">

                                        <div class="pro-details-cart btn-hover">
                                            <a href="#" id="addpanier{{ produit.id }}"> + ajouter au panier</a>
                                        </div>
                                    </div>
                                    <div class="pro-details-wish-com">
                                        <div class="pro-details-wishlist">
                                            <a href="#"><i class="ion-android-favorite-outline"></i>Add to wishlist</a>
                                        </div>
                                        <div class="pro-details-compare">
                                            <a href="#"><i class="ion-ios-shuffle-strong"></i>Add to compare</a>
                                        </div>
                                    </div>
                                    <div class="pro-details-social-info">
                                        <span>Share</span>
                                        <div class="social-info">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="ion-social-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="ion-social-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="ion-social-google"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="ion-social-instagram"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <script>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                var commande = localStorage.getItem("commande");

                if(commande){
                    var r = confirm("voulez vous enregistrer votre adresse de livraison ?");
                    if (r == true) {
                        window.location.href = "/livraison/"+commande.toString();
                    } else {
                        txt = "You pressed Cancel!";
                    }

                }
                {% endif %}
                var data = localStorage.getItem("panier");
                var panier = [] ;
                var prix = 0 ;
                var livraison = 0;
                var prix_total = 0
                if(data){
                    var obj = jQuery.parseJSON(data);
                    for(i=0; i< obj.length ; i++){
                        panier.push(obj[i])
                        prix = prix+ parseInt(obj[i].prix)
                    }
                    if(prix < 40){
                        livraison = 7 ;
                    }
                    prix_total = prix+livraison
                    $("#vam").html('<div id="vam"><a href="#" class="count-cart" ><span>'+prix_total+' TND</span></a></div>')
                }


                $("#diale{{ produit.id }}").click(function () {
                    $.post('{{ path('checkPromotio',{'id':produit.id}) }}',JSON.stringify(data),function (mes) {
                        /**localStorage.setItem('commande', mes.toString());
                         window.setTimeout(function(){
                        window.location.href = "/livraison/"+mes.toString()
                    }, 1500);**/
                        if(mes["promotion"]){
                            var remise = parseInt(mes["promotion"][0]["remise"]);
                            var price = parseFloat({{ produit.prix }});
                            var newPrice = (price -((price * remise)/ 100))

                            $("#price{{ produit.id }}").empty();



                            $("#price{{ produit.id }}").append('<li class="old-price">{{ produit.prix }} TND</li>'+
                                '<li class="current-price" >'+newPrice+' TND</li>'+
                                '<li class="discount-price">'+remise+' %</li>'+
                                '<input type="text" value="'+newPrice+'" id="newPrice{{ produit.id }}" hidden>');


                        }
                        else{
                            $("#price{{ produit.id }}").empty();
                            $("#price{{ produit.id }}").append('<li class="old-price not-cut">{{produit.prix}} TND</li>');
                        }

                    })
                    $('#exampleModal{{ produit.id }}').modal('toggle');
                })

                $("#addpanier{{ produit.id }}").click(function () {
                    var pr = $("#newPrice{{ produit.id }}").val();

                    if(pr){
                        alert(pr)
                        var monobjet  = {
                            titre : "{{ produit.titre }}",
                            description : "{{ produit.description }}",
                            image : "{{ produit.image }}",
                            prix : parseFloat(pr),
                            quantite : 1,
                            id : {{ produit.id }}
                        };
                        prix_total = parseFloat(pr) + prix_total
                    }
                    else{
                        var monobjet  = {
                            titre : "{{ produit.titre }}",
                            description : "{{ produit.description }}",
                            image : "{{ produit.image }}",
                            prix : "{{ produit.prix }}",
                            quantite : 1,
                            id : {{ produit.id }}
                        };
                        prix_total = parseFloat("{{ produit.prix }}") + prix_total
                    }
                    panier.push(monobjet);
                    var monobjet_json = JSON.stringify(panier);
                    localStorage.setItem('panier', monobjet_json);
                    $("#vam").html('<div id="vam"><a href="#" class="count-cart" ><span>'+prix_total+' TND</span></a></div>')
                    var obj = jQuery.parseJSON(monobjet_json);
                    for(i=0; i< obj.length ; i++){
                        prixTotal = prixTotal + parseFloat(obj[i].prix)
                        $('#pan').append('<li class="single-shopping-cart">'+
                            '<div class="shopping-cart-img">'+
                            '<a href=""><img alt="" src="'+obj[i].image+'" /></a>'+
                            '<span class="product-quantity">'+obj[i].quantite+'</span>'+
                            '</div>'+
                            ' <div class="shopping-cart-title">'+
                            '<h4><a href="">'+obj[i].titre+'</a></h4>'+
                            '<span>'+obj[i].prix+'</span>'+
                            ' <div class="shopping-cart-delete">'+
                            '<a href="#"><i class="ion-android-cancel"></i></a>'+
                            '</div>'+
                            '</div>'+
                            '</li>')
                    }
                    total  = livraison + prixTotal
                    $('#price').append('<div class="shopping-cart-total">'+
                        '<h4>Prix : <span>'+prixTotal+ ' TND'+'</span></h4>'+
                        '<h4>Livraison : <span>'+livraison+' TND'+'</span></h4>'+
                        '<h4 class="shop-total">Total : <span>'+total+' TND'+'</span></h4>'+
                        '</div>'+
                        '<div class="shopping-cart-btn text-center">'+
                        '<a class="default-btn" href="{{ path('cart') }}" id="clickPanier">checkout</a>'+
                        '</div>')
                    $("#addpanier{{ produit.id }}").hide();

                })
            </script>

        {% endfor %}
        <!-- Recent product area end -->
        <!-- Brand area start -->
    {% endblock %}

{% endblock %}
{% block marques %}
    {% for m in marque %}
        <li class="menu-dropdown">
            <a href="{{ path('afficher_par_marques',{'id': m.id}) }}" >{{ m.titre }}</a>
        </li>
    {% endfor %}
{% endblock %}
{% block categories %}
    {% for m in categorie %}
        <li class="menu-dropdown">
            <a href="{{ path('afficher_par_categories',{'id': m.id}) }}" >{{ m.titre }}</a>
        </li>
    {% endfor %}
{% endblock %}
